/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* global variables */
:root {
  --primary-color: #b91e1f;
  --black-color: #050b20;
  --white-color: #ffff;
}

.black-bg {
  background-color: var(--black-color);
}

.main-color {
  color: var(--primary-color);
}

.custom-btn:hover {
  background-color: #050b20 !important;
}

.custom-btn {
  color: var(--white-color) !important;
  background-color: var(--primary-color) !important;
}

.title:hover .custom-title::before {
  width: 100%;
  transition: .5s all ease;
}

.custom-title {
  position: relative;
}

.custom-title::before {
  content: '';
  border-bottom: 3px solid #b91e1f;
  width: 50%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.custom-title {
  color: var(--primary-color);
}

/* navbar */
.navbar-nav a {
  text-decoration: none;
  padding: 0 12px;
}

.navbar-nav a:last-child {
  padding-right: 0;
}

.navbar-nav a.menu-link {
  color: var(--white-color);
}

.navbar-nav a:hover {
  color: var(--primary-color);
  transition: .3s all ease;
}

.active {
  color: var(--primary-color);
}

.header-logo a {
  color: var(--white-color);
  text-decoration: none;
}

.header-logo a:hover {
  color: var(--white-color);
}

.form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* cars section */
.car-card {
  box-shadow: rgba(160, 160, 178, 0.2) 0px 7px 29px 0px;
}

/* Form Custom Style */
.form-wrapper {
  width: 50%;
}

.form-container {
  width: 50%;
}

/* info count  */
.info-title {
  font-size: 22px;
}

.info-num {
  font-size: 45px;
}


/* why xtreme cars best */
.why-best .all-cards {
  padding: 0 40px;
}

.why-best .card:hover {
  background-color: #050b20;
  color: #fff;
}

.reason-icon {
  font-size: 40px;
  color: #fff;
}

.why-best .card:hover .reason-icon div {
  background-color: var(--primary-color);
}

.reason-icon div {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: var(--black-color);
  border-radius: 100px;
}


/* Footer */
.footer-suppliers a {
  text-decoration: none;
  color: var(--white-color);
}

.footer-suppliers a:hover {
  color: var(--primary-color);
}


.footer-social div {
  height: 35px;
  width: 35px;
  background-color: var(--white-color);
  color: var(--primary-color);
  line-height: 35px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.footer-social div:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.car-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet or Medium Device Breakpoint */
@media (max-width: 992px) {

  /* Form Style */
  .form-wrapper {
    width: 90%;
  }

  .form-container {
    width: 80%;
  }


  /* product table */
  .product-table {
    overflow-x: auto;
  }
}



/* Mobile Device Breakpoint */
@media (max-width: 576px) {
  footer .row .col-12 h3 {
    margin-top: 40px;
  }

  .why-best .all-cards {
    padding: 0 15px;
  }

  /* car card */
  /* .car-card .card-img {
    width: 60%;
  } */

  /* Company Info */
  .info-num {
    font-size: 25px;
  }

  .info-title {
    font-size: 13px;
  }

  .company-info {
    padding: 80px 0px;
    background-size: cover;
  }

  /* Form Style */
  .form-wrapper {
    width: 90%;
  }

  .form-container {
    width: 100%;
  }
}